.array-container {
    position: absolute;
    left: 3%;
    right: 3%;
    top: 10%
}

.array-bar {
    background: #314ee4;
    display: inline-block;
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}